<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tema 9</title>
     <script type="text/javascript">
    </script>
</head>
<body>
    Ghiceste numar
    {{text}}
    <br>
    <input type="text" id="in">
    <button id="verific">Verific</button>
    <span id="verificare"></span>

<script>
document.querySelector("#verific").onclick = function (){
    console.log({{numaruDinSesiune}})
    var numarul = Number(document.querySelector("#in").value);
    var verificare = document.getElementById("verificare");
    
     if(numarul == {{numaruDinSesiune}})
        {verificare.innerHTML = "exact";}

    if(numarul > {{numaruDinSesiune}})
        {verificare.innerHTML = "prea mare";}
    if(numarul < {{numaruDinSesiune}})
        {verificare.innerHTML = "prea mic";}
   

    
}

</script>

</body>
</html>
